
@{
    ViewBag.Title = "Index";
}

<h2>This application has moved</h2>
<p>Please update your bookmarks to the new location: <strong><a href="https://jgraber.net">JGraber.net</a></strong></p>

<script type="text/javascript">
    setTimeout(function() {
        window.location = "http://www.JGraber.net";
    }, 5000);
</script>

